---
layout: default
---

<div class="container hero">
  <div class="row">
    <div class="text-left col-md-6">

    </div>
  </div>
  <h1 class="text-center"><span class="bg-blue">{{ site.texto_introductorio }}</span><span class="bg-red"> {{ site.texto_que_remata }}</span></h1>
  <h2 class="text-center">{{ site.texto_bajada }}</h2>
  <ul class="share-btn list-inline">
    <li class="text-center">
      <a class="twitter-share-button btn btn-primary btn-xs" onclick="window.open('https://twitter.com/intent/tweet?via=ciudadanoi&url=http%3A%2F%2Fagendatransparencia.cl%2F&text={{ site.description }}','_blank','height=400,width=300')"><i class="fa fa-twitter"></i> Twittear</a>
    </li>
    <li class="fb-share-button" data-href="{{ site.baseurl }}" data-layout="button"></li>
  </ul>
</div>

<section id="cards" >
  <div class="container">
    

      {% for card in site.cards %}
          {% assign modulo3 = forloop.index | modulo:3 %}
          {% if forloop.first == true %}
          <div class="row">
          {% endif %}
          
          {% include card.html %}
          {% if modulo3 == 0 %}
            {% if forloop.first == false %}
            </div>
            <div class="row">
            {% endif %}
          {% endif %}
          {% if forloop.last %}
          </div>
          {% endif %}
      {% endfor %}
      
  </div>
</section>

<script type="">
  // $(function(){
  //   var $container = $('.masonry-container');
  //     $container.imagesLoaded( function () {
  //       $container.masonry({
  //         columnWidth: '.item',
  //         itemSelector: '.item'
  //       });
  //     });
  //     $('.item-card').bind('show.bs.collapse', function(event, ui) {
  //         $container.masonry({
  //           columnWidth: '.item',
  //           itemSelector: '.item'
  //         });
  //     });
  // })
</script>