<div class="col-md-4 item">
  <div class="box {{ card.urgency }}">

    {% if card.urgency %}
    <ul class="list-inline urgency text-left">
      <li>
          <span class="label label-{{ card.urgency | replace:' ','-' }}">{{ card.urgency }}</span>
      </li>
    </ul>
    {% endif %}

    <ul class="list-inline status text-right">
      <li>
        {% if card.status == 'En Discusión' %}
          <span data-toggle="tooltip" title="El Congreso está discutiendo esta propuesta." data-placement="left" class="label label-en-discusion">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Estancado' %}
          <span data-toggle="tooltip" title="El Congreso aún no comienza a discutir esta propuesta o parte importante de ella." data-placement="left" class="label label-estancado">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Misión Cumplida' %}
          <span data-toggle="tooltip" title="El Congreso ya discutió y aprobó esta propuesta." data-placement="left" class="label label-mision-cumplida">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Pendiente' %}
          <span data-toggle="tooltip" title="El Congreso está discutiendo esta propuesta." data-placement="left" class="label label-pendiente">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Aprobada Parcialmente' %}
          <span data-toggle="tooltip" title="El Congreso discutió esta propuesta y la aprobó parcialmente." data-placement="left" class="label label-parcial">{{ card.status }}</span>
        {% endif %}
      </li>
    </ul>


    <div class="card-description">
      {% if card.details %}
        <a href="#" data-toggle="modal" data-target="#myModal-{{ card.id }}">Más info</i></a>
      {% endif %}
      <h3>
      {{ card.title }}
      </h3>
      <div class="text-left tweet-btn">
        <a class="twitter-share-button btn btn-primary btn-xs" onclick="window.open('https://twitter.com/intent/tweet?via=ciudadanoi&url=http%3A%2F%2Fagendatransparencia.cl{{ card.permalink }}&text=%20%23LxsCiudadanxsQueremos {{ card.title }}','_blank','height=400,width=300')">Twittea</a>
      </div>
      {% if card.title %}
      {% include modal.html %}
      {% endif %}

      <h5>¿Por qué es importante?</h5>
      {% for quote in card.importance %}
      <blockquote>{{ quote.txt }}</blockquote>
      {% endfor %}
    </div>

    {% if card.news %}
      <div class="news">
        <h5>¿Qué esta pasando?</h5>
        {% for quote in card.news %}
          <blockquote>{{ quote.txt }}</blockquote>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>