<div class="col-md-4 item item-card">
  <div class="box {{ card.urgency }}">

    {% if card.urgency %}
    <ul class="list-inline urgency text-left">
      <li>
          <span class="label label-{{ card.urgency | replace:' ','-' }}">{{ card.urgency }}</span>
      </li>
    </ul>
    {% endif %}

    <ul class="list-inline status text-right">
      <li>
        {% if card.status == 'En Discusión' %}
          <span data-toggle="tooltip" title="El Congreso está discutiendo esta propuesta." data-placement="left" class="label label-en-discusion">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Estancado' %}
          <span data-toggle="tooltip" title="El Congreso aún no comienza a discutir esta propuesta o parte importante de ella." data-placement="left" class="label label-estancado">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Misión Cumplida' %}
          <span data-toggle="tooltip" title="El Congreso ya discutió y aprobó esta propuesta." data-placement="left" class="label label-mision-cumplida">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Pendiente' %}
          <span data-toggle="tooltip" title="El Congreso está discutiendo esta propuesta." data-placement="left" class="label label-pendiente">{{ card.status }}</span>
        {% endif %}
        {% if card.status == 'Logrado parcialmente' %}
          <span data-toggle="tooltip" title="El Congreso discutió esta propuesta y la aprobó parcialmente." data-placement="left" class="label label-parcial">{{ card.status }}</span>
        {% endif %}
      </li>
    </ul>

    {% if card.details %}
      {% if card.title %}
        <!-- modal -->
        {% include modal.html %}
        <!-- end modal -->
      {% endif %}
    {% endif %}

    <div class="card-description">
      {% if card.details %}
        <a href="#" data-toggle="modal" data-target="#myModal-{{ card.id }}">Más info</a>
      {% endif %}
      <h3>
      {{ card.title }}
      </h3>
      <div class="text-left tweet-btn">
        <a class="twitter-share-button btn btn-primary btn-xs" onclick="window.open('//twitter.com/intent/tweet?{% if site.twitter_username %}via={{ site.twitter_username }}&{% endif %}url={{ site.baseurl | append: card.permalink | url_param_escape }}&hashtags={{ site.hashtags }}&text={{ site.twitter_txt }} {{ card.title }}','_blank','height=300,width=600')"><i class="fa fa-twitter"></i> Twittea</a>
      </div>

      <div class="collapse" id="collapse-{{ card.id }}">
        <div>
            <h5>¿Por qué es importante?</h5>
            {% for quote in card.importance %}
            <blockquote>{{ quote.txt }}</blockquote>
            {% endfor %}
          </div>

          {% if card.proposals %}
            <div class="news">
              <h5>¿Qué proponemos?</h5>
              {% for quote in card.proposals %}
                <blockquote>{{ quote.txt }}</blockquote>
              {% endfor %}
            </div>
          {% endif %}
          </div>

        <div class="text-right btn-knowmore">
          <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapse-{{ card.id }}" aria-expanded="false" aria-controls="collapseExample">Saber más</a>
        </div>
      </div>
  </div>
</div>
