<!DOCTYPE html>
<html>
  {% include head-tw.html %}
  <body>
    {% include header.html %}
    <div id="card" class="card-view">
      <div class="container">
          <div class="col-md-12 item">
            <div class="box">

              <ul class="list-inline status text-right">
                <li>
                  {% if page.status == 'en discusion' %}
                    <span data-toggle="tooltip" title="El Congreso está discutiendo esta propuesta." data-placement="left" class="label label-{{ page.status | replace:' ','-' }}">{{ page.status }}</span>
                  {% endif %}
                  {% if page.status == 'pendiente' %}
                    <span data-toggle="tooltip" title="El Congreso aún no comienza a discutir esta propuesta o parte importante de ella." data-placement="left" class="label label-{{ page.status | replace:' ','-' }}">{{ page.status }}</span>
                  {% endif %}
                  {% if page.status == 'aprobada' %}
                    <span data-toggle="tooltip" title="El Congreso ya discutió y aprobó esta propuesta." data-placement="left" class="label label-{{ page.status | replace:' ','-' }}">{{ page.status }}</span>
                  {% endif %}
                  {% if page.status == 'rechazada' %}
                    <span data-toggle="tooltip" title="El Congreso está discutiendo esta propuesta." data-placement="left" class="label label-{{ page.status | replace:' ','-' }}">{{ page.status }}</span>
                  {% endif %}
                  {% if page.status == 'aprobada parcialmente' %}
                    <span data-toggle="tooltip" title="El Congreso discutió esta propuesta y la aprobó parcialmente." data-placement="left" class="label label-{{ page.status | replace:' ','-' }}">{{ page.status }}</span>
                  {% endif %}
                </li>
              </ul>

              <div class="card-description">
                <h1>
                {{ page.title }}
                </h1>
                <div class="text-left tweet-btn">
                  <a class="twitter-share-button btn btn-primary btn-xs" onclick="window.open('//twitter.com/intent/tweet?{% if site.twitter_username %}via={{ site.twitter_username }}&{% endif %}url={{ site.baseurl | append: card.permalink | url_param_escape }}&hashtags={{ site.hashtags }}&text={{ site.twitter_txt }} {{ page.title }}','_blank','height=300,width=600')"><i class="fa fa-twitter"></i> Twittea</a>
                </div>

                <h3>¿Por qué es importante?</h3>
                {% for quote in page.importance %}
                <blockquote>{{ quote.txt }}</blockquote>
                {% endfor %}

                <h3>¿Qué proponemos?</h3>
                <ul>
                  {% for p in page.proposals %}
                  <li>{{ p.txt }}</li>
                  {% endfor %}
                </ul>
              </div>

              {% if page.news %}
                <div class="news">
                  <h3>¿Qué está pasando?</h3>
                  {% for quote in page.news %}
                    <blockquote>{{ quote.txt }}</blockquote>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="card-description">
                {% if page.details %}
                  <h3>Más información</h3>
                  {{ page.content }}
                {% endif %}
              </div>

              <!-- support -->
              {% if site.support_enabled %}
              <div class="support">
                <div class="row">
                  <div class="col-md-3 col-md-offset-3" id="counter">
                    <ul class="list-inline citizen-support-{{ page.id }}" >
                      {% for nro in page.citizens_cnt %}
                      <li>{{nro}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-12 align-ciudadanos">
                        Ciudadanos que apoyan la propuesta
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {%  endif %}
              <!-- end support -->
            </div>
          </div>
        </div><!-- end container -->
      </div><!-- end card-view -->
    {% include footer.html %}
  </body>
</html>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
